@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap&subset=latin-ext');

:root {
	--fontRoboto: 'Roboto', sans-serif;
	--fontOrbit: 'Orbitron', sans-serif;
	--fontElectro: 'Electrolize', sans-serif;
	--fontRale: 'Raleway', sans-serif;
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	background: #48c9b0;
}
::-webkit-scrollbar-thumb:hover {
	background: #117a65;
}
.container {
	max-width: 1300px;
	margin: auto;
}
header {
	height: 950px;
	background-image: url("img/header.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 16px;
}
header nav {
	position: fixed;
	width: 100%;
	top: 0;
	height: 70px;
	background-color: #48c9b0;
	display: flex;
	justify-content: space-between;
}
header nav img {
	width: 70px;
	margin-left: 20px;
}
header ul {
	margin-top: 27px;
}
header #menu li {
	position: relative; /**************************/
	display: inline-block;
	text-transform: uppercase;
	margin-left: 30px;
}
header #menu li a {
	font: 900 15px var(--fontRoboto);
	color: #fff;
	display: block; /****************************/
}
header #menu li a:hover {
	color: #117a65;
}
header #menu ul {
	position: absolute;
	display: none;
}
header #menu li:hover > ul {
	display: block;
}

header .navTools {
	margin-right: 30px;
}
header .navTools .tool {
	display: inline;
	margin-left: 20px;
}
header .navTools i {
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}
header .navTools .siteMode,
header .navTools .language-pack {
	position: relative;
	display: inline-block;
}
header .navTools .mode,
.navTools .languages {
	display: none;
	position: absolute;
	background-color: #48c9b0;
	height: 100px;
	width: 40px;
	text-align: center;
	border-left: 2px solid #117a65;
	border-right: 2px solid #117a65;
	border-bottom: 5px solid #117a65;
	border-radius: 15px;
	margin-left: -9px;
	padding-top: 5px;
}
header .navTools .siteMode:hover .mode,
.navTools .language-pack:hover .languages {
	display: block;
}
header .navTools .mode i {
	line-height: 40px;
}
header .navTools .mode i:hover {
	color: #117a65;
	font-size: 27px;
}
header .navTools .languages a {
	font: 500 15px var(--fontRoboto);
	color: #fff;
	line-height: 30px;
}
header .navTools .languages a:hover {
	color: #117a65;
	font-weight: 900;
	font-size: 17px;
}

header .headInfo {
	max-width: 500px;
	margin: 300px 0 0 50px;
}

header .headInfo h1 {
	font: 900 60px var(--fontOrbit);
	color: #0b5345;
	text-shadow: 2px 2px 4px #48c9b0;
	text-transform: uppercase;
	text-align: center;
}
header .headInfo p {
	margin-top: 15px;
	width: 500px;
	font: 400 18px var(--fontRoboto);
	color: #0b5345;
	letter-spacing: 2px;
	text-align: center;
}
#about {
	height: 650px;
}
#about .icon {
	text-align: center;
	margin-top: 40px;
}
#about .icon i {
	font-size: 60px;
	cursor: pointer;
	color: #117a65;
}
#about .icon i:hover {
	color: #000;
}
#about .icon hr {
	width: 300px;
	height: 3px;
	background-color: #117a65;
	border: none;
}
#about img {
	margin-top: 50px;
	width: 400px;
}
#about .aboutSite {
	width: 600px;
	height: 250px;
	float: right;
	margin: 120px 100px 0 0;
	background-color: #48c9b0;
	border-radius: 20px;
	text-align: center;
}
#about .aboutSite h2 {
	font: 900 26px var(--fontOrbit);
	color: #000;
	text-shadow: 2px 2px 4px #fff;
	text-transform: uppercase;
	margin-top: 20px;
}
#about .aboutSite p {
	width: 500px;
	font: 400 20px var(--fontRoboto);
	color: #fff;
	letter-spacing: 2px;
	text-align: center;
	margin: auto;
	margin-top: 15px;
}
#courses {
	height: 600px;
}
#courses img {
	height: 500px;
	margin-top: 50px;
	float: right;
}
#contact {
	height: 650px;
}
#contact .title h3 {
	font: 500 48px var(--fontRoboto);
	color: #1abc9c;
	margin-top: 30px;
}
#contact .title p {
	font: 500 16px var(--fontRoboto);
	color: #117a65;
	margin-top: 6px;
	margin-bottom: 30px;
}
#contact .info {
	float: right;
	display: flex;
	margin-right: 120px;
}
#contact .info i {
	font-size: 50px;
	margin-bottom: 15px;
	color: #1abc9c;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
#contact .info i:hover {
	transform: translateY(-14px);
}
#contact .info article {
	text-align: center;
}
#contact .info article hr {
	width: 50px;
	height: 2px;
	border: none;
	background-color: #0b5345;
}
#contact .info article h6 {
	font: 900 16px var(--fontRoboto);
	color: #0b5345;
}
#contact .info article p {
	width: 180px;
	text-align: center;
	font: 400 16px var(--fontRoboto);
	color: #0b5345;
}
#contact .info article a {
	width: 180px;
	text-align: center;
	font: 400 16px var(--fontRoboto);
	color: #0b5345;
}
#contact .body {
	display: flex;
}
#contact .body iframe {
	margin-top: 140px;
	margin-left: 370px;
	justify-content: space-between;
	float: right;
	border-radius: 15px;
}
#contact form h6 {
	margin-left: 5px;
	font: 500 16px var(--fontRoboto);
	color: #117a65;
}
#contact form input {
	width: 400px;
	height: 35px;
	border: none;
	border-bottom: 2px solid #48c9b0;
	outline: none;
	border-radius: 30px;
	margin-top: 5px;
	margin-bottom: 10px;
}
#contact form input:focus,
#contact form textarea:focus {
	border-bottom: 4px solid #117a65;
}
#contact form textarea {
	border: none;
	border-bottom: 2px solid #48c9b0;
	outline: none;
	border-radius: 30px;
	margin-top: 5px;
	resize: none;
	width: 400px;
}
#contact form input,
textarea:empty {
	padding-left: 15px;
	padding-right: 10px;
	font: 700 16px 'Libre Baskerville', serif;
	color: #117a65;
}
#contact form button {
	width: 120px;
	height: 30px;
	border: none;
	outline: none;
	background-color: #48c9b0;
	border-radius: 0px 0px 15px 15px;
	margin-top: 10px;
	color: #fff;
	font: 500 15px var(--fontRoboto);
	transition: all 0.3s ease 0s;
	cursor: pointer;
}
#contact form button:hover {
	transform: translateY(-13px);
	background-color: #117a65;
}
#contact form div {
	text-align: center;
}
footer {
	height: 240px;
	background-color: #48c9b0;
}
#footerElements {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: auto;
}
footer .subject,
.footerMenu {
	margin-top: 50px;
	text-align: center;
}
footer ul li a {
	font: 600 20px var(--fontRoboto);
	color: #fff;
	line-height: 30px;
	letter-spacing: 2px;
}
footer ul li a:hover {
	color: #117a65;
}
footer img {
	margin-top: 30px;
	width: 150px;
}
footer .icons {
	text-align: center;
	margin-bottom: 10px;
}
footer .icons i {
	font-size: 25px;
	margin-left: 15px;
	cursor: pointer;
	color: #fff;
}
footer .icons .fa-facebook-f:hover {
	color: blue;
}
footer .icons .fa-twitter:hover {
	color: deepskyblue;
}
footer .icons .fa-instagram:hover {
	color: #e1306c;
}
footer .icons .fa-pinterest-p:hover {
	color: red;
}
footer .icons .fa-google-plus-g:hover {
	color: #dd4b39;
}
footer .icons .fa-github:hover {
	color: #000;
}
footer .end {
	height: 50px;
	background-color: #117a65;
}
footer .end p {
	font: 500 14px var(--fontElectro);
	text-align: center;
	color: #fff;
	line-height: 25px;
}
#toTop {
	position: fixed;
	right: 30px;
	bottom: 30px;
	cursor: pointer;
	font-size: 45px;
	color: #117a65;
}

/* laman */

/* * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

.overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, .8);
	cursor: crosshair;
	transition: 0.3s;
	z-index: 3;
}

.open-overlay {
	display: block;
}

.modal {
	position: fixed;
	background: #ffffff;
	top: -100%;
	left: 50%;
	transform: translateX(-50%);
	width: 60%;
	height: 100%;
	max-width: 600px;
	position: absolute;
	box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.7);
	overflow: hidden;
	transition: 0.2s;
	border-radius: 3px;
	z-index: 4;
}

.open-modal {
	position: fixed;
	top: 0;
}

.tabs {
	position: relative;
	z-index: 4;
	top: 0;
	left: 0;
	background: white;
	width: 100%;
	display: flex;
	box-shadow: 0 2px 18px rgba(0, 0, 0, 0.2);
}
.tab {
	width: 100%;
	text-align: center;
	padding: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	color: #888;
	cursor: pointer;
	position: relative;
}

.tab.active {
	color: #ffffff;
}

.tab::before {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #49c9b0;
	z-index: -1;
	transition: 0.5s;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.tab-login::before {
	left: -100%;
}

.tab-sign-up::before {
	right: -100%;
}

.tab-login.active::before {
	left: 0;
}

.tab-sign-up.active::before {
	right: 0;
}

.modal-content {
	position: absolute;
	top: 0;
	font-family: var(--fontRoboto);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign-up {
	position: absolute;
	left: 100%;
	transition: 0.5s;
	width: 100%;
	padding: 50px;
}

.login {
	position: absolute;
	left: -100%;
	transition: 0.5s;
	width: 100%;
	padding: 50px;
}

.modal-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.modal-form h1 {
	font-size: 40px;
	margin-bottom: 20px;
	font-weight: 800;
	color: #107a64;
	font-family: var(--fontRoboto);
}

.modal-form input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	outline: none;
	position: relative;
}

.modal-form input:focus {
	border-bottom: 2px solid #49c9b0;
}
.modal-form a {
	color: #333;
	margin-top: 30px;
}
button,
button:hover,
button:active,
button:visited,
button:focus {
	outline: 0;
}

.modal-form button {
	width: 100%;
	transition: 0.45s;
	height: 50px;
	color: #fff;
	border: 1px solid #49c9b0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
	background: #49c9b0;
	border-radius: 40px;
	margin-top: 20px;
	cursor: pointer;
}
.modal-form button:hover {
	background: #107a64;
	color: #fff;
}

.modal-content .active {
	left: 0;
}
